<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/static/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


    <title>Morse code</title>
</head>
<body>
    <div class="form">
        <form>
          <!-- Message input -->
          <div class="form-outline mb-4">
            <label class="form-label" for="form4Example3"><h1>Text to translate</h1></label>
            <textarea name="text" class="form-control w-300" id="form4Example3" rows="8"></textarea>
          </div>
          <!-- Translate button -->
          <button type="submit" formaction="/encrypt" class="btn btn-outline-light btn-lg btn-block mb-4 button">Encrypt</button>
            <button type="submit" formaction="/decrypt" class="btn btn-outline-light btn-lg btn-block mb-4 button">Decrypt</button>
        </form>

        <form action="/random">
          <button type="submit" class="btn btn-light btn-block btn-lg mb-4 button">Random char</button>
        </form>
    </div>
</body>
</html>